
    /*第一屏*/
    .main{
        height: 100%;
        width: 100%;
        color: white;
        background: black;
    }
    .main img{
        width: 100%;
        height: 100%;
    }
    .content{
        height: 80%;
        width: 34%;
        position: relative;
        left: 33%;
        bottom: 90%;
        border: 1px solid white;
        box-sizing: border-box;
        text-align: center;
    }
    .content img{
        height: 200px;
        width:175px;
        margin-top:70px;
    }
    h2{
        font-size: 20px;
    }
    h1{
        font-size: 31px;
        margin: 55px 0;
        color: white;
    }
    h1:hover{
        color: red;
        cursor: pointer;
    }
    .content span{
        margin: 0 20px;
        position: relative;
        top:-14px;

    }
    .content span:hover{
        color: red;
        cursor: pointer;
        
    }



    