
     /*第一屏*/
    .a-main{
        height: 85%;
        width: 100%;
        background: black;
    }
    .a-main img{
        width: 100%;
        height: 100%;
    }
    .a-top{
        height: 80%;
        width: 50%;
        position: relative;
        left: 25%;
        top: -85%;
        text-align: center;
        color: white
    }
    h1{
        font-size: 65px;
        margin-top: 90px;
    }
    h2{
        font-size: 12px;
        margin-top: 15px;
    }
    .a-top span{
        border: 1px solid;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        top: 100px;
    }


    /*第二屏*/
    .b-main{
        height: 110%;
        width: 100%;
    }
    .b-content{
        height: 90%;
        width: 60%;
        position: relative;
        left: 20%;
        top: 4%;
    
    }
    .b-content-one{
        height: 45%;
        width: 100%;
       

    }
    .b-content-left{
        height: 100%;
        width: 65%;
       
        float: left;
    }
    .b-content img{
        height: 100%;
        width: 100%;
    }
    .b-content-right{
        height: 100%;
        width: 30%;
       
        float: right;
    }
    .b-content-right-top{
        height: 47.5%;
        width: 100%;
       
    }
    .b-content-right-bottom{
        height: 47.5%;
        width: 100%;
        
        position: relative;
        top: 4%;
    }
    .b-content-two{
        height: 45%;
        width: 100%;
      
        position: relative;
        top: 4%;
    }
    .b-content-three{
        height: 5%;
        width: 100%;
      
        position: relative;
        top: 10%;
    }
    h3{
        font-size: 12px;
    }
    .b-content-three span{
        font-size: 12px;
    }
    .b-content-three span:hover{
        color: red;
        cursor: pointer;
    }
    .b-content-three button{
        position: absolute;
        left: 90%;
        padding: 4px;
      
        border: 1px solid white;
        box-sizing: border-box;
    }
    .b-content-three button:hover{
        background: red;
        color: white;
        cursor: pointer;
    }
    .b-content-three a{
        position: absolute;
        left: 87%;
        border: 1px solid red;
        box-sizing: border-box;
        padding: 3px;
        background: red;
        color: white;
    }
    .b-content-three a:hover{
        cursor: pointer;
    }





