
    /*第一屏*/
    .firstscreen{
        height: 90%;
        width: 100%;
    }
    .firstscreen img{
        height: 100%;
        width: 100%;
    }
    h1,h2,h5{
        text-align: center;
        position: relative;
        top: -70%;
        color:white;
        }
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 22px;
        height: 15%;
    }
    h5{
        width: 60%;
        position: relative;
        left: 20%;
    }
    /*第二屏*/
    .secondscreen{
        height: 90%;
        width: 100%;
    }

    .secondscreen-top{
        height: 45%;
        width: 100%;
    }
    .secondscreen-top-left{
        float: left;
        height: 80%;
        width: 15%;
        
    }
    .secondscreen-top-left img{
        height: 100%;
        width: 100%;
        position: relative;
        top: 20%;
    }
    .secondscreen-top-in{
        float: left;
        height: 100%;
        width: 70%;
        text-align: center;
    }
    h3{
        font-size: 25px;
        position: relative;
        top: 20%;
    }
    h4{
        font-size: 8px;
        width: 60%;
        position:relative;
        left: 20%;
        top: 30%;
    }
    .secondscreen-top-in span{
        border: 1px solid;
        box-sizing: border-box;
        background: black;
        color: white;
        position: relative;
        top: 120px;
        padding: 3px 10px;
        font-size: 20px;
        cursor: pointer;
    } 
    .secondscreen-top-right{
        float: left;
        height: 80%;
        width: 15%;
    }
    .secondscreen-top-right img{
        height: 100%;
        width: 100%;
        position: relative;
        top: 20%;
    }

    .secondscreen-bottom{
        height: 55%;
        width: 100%;
    }
    
    .secondscreen-bottom>div{
        float: left;
    }
    .secondscreen-bottom-one{
        width: 15%;
        height: 100%;
    }
    .secondscreen-bottom-one img{
        height: 100%;
    }
    
    .secondscreen-bottom-two{
        height: 100%;
        width: 23%;
    }
    .secondscreen-bottom-two img{
        height: 90%;
        position: relative;
        top: 10%;
    }
    .secondscreen-bottom-three{
        height: 100%;
        width: 24%;
    }
    .secondscreen-bottom-three img{
        height: 80%;
        position: relative;
        top: 20%;
    }
    .secondscreen-bottom-four{
        height: 100%;
        width: 23%;
    }
    .secondscreen-bottom-four img{
        height: 90%;
        position: relative;
        top: 10%;
    }
    .secondscreen-bottom-five{
        height: 100%;
        width: 15%;
    }
    .secondscreen-bottom-five img{
        height: 100%;
    }
    .secondscreen-bottom img{
        width: 100%;
    }
    /*第3屏*/
    .thirdscreen{
        height: 70%;
        width: 100%;
        background: #e94043;
    }
    .thirdscreen h4{
        color: white;
    }
    .thirdscreen-main{
        height: 90%;
        width: 60%;
        position: relative;
        left: 20%;
        
    }
    .thirdscreen-main-top{
        text-align: center;
    }
    .thirdscreen-main-top h4{
        font-size: 20px;
        position: relative;
        top: 30px;
    }
    .thirdscreen-main-top{
        height: 30%;
        width: 100%;
    }
    .thirdscreen-main-bottom{
        height: 70%;
        width: 100%;
    }
    .thirdscreen-main-bottom span{
        position: relative;
        bottom: 180px;
        color: white;
        left: 35px;
    }
    .thirdscreen-main-bottom a{
        position: relative;
        bottom: 145px;
        font-size: 12px;
        color: white;
    }
    .thirdscreen-main-bottom-left{
        height: 100%;
        width: 49%;
        float: left;
        background: wheat;
    }
    .thirdscreen-main-bottom-left img{
        height: 100%;
        width: 100%;
    }
    .thirdscreen-main-bottom-left span{
        height: 100%;
        width: 100%;
        position: relative;
        bottom: 285px;
        left: -1px;
        opacity: 0;

    }
    .thirdscreen-main-bottom-left span:hover{
        height: 100%;
        width: 100%;
        position: relative;
        bottom: 285px;
        left: -1px;
        opacity: 0.9;
    }
    .thirdscreen-main-bottom-right{
        height: 100%;
        width: 49%;
        float: right;
        background: wheat;
    }
    .thirdscreen-main-bottom-right img{
        height: 100%;
        width: 100%;
    }
    .thirdscreen-main-bottom-right span{
        height: 100%;
        width: 100%;
        position: relative;
        bottom: 285px;
        left: -1px;
        opacity: 0;
    }
    .thirdscreen-main-bottom-right span:hover{
        height: 100%;
        width: 100%;
        position: relative;
        bottom: 285px;
        left: -1px;
        opacity: 0.9;
    }
    
    /*第4屏*/
    .fifthscreen{
        height: 70%;
        width: 100%;
        background: red;
        overflow: hidden;
    }
    .fifthscreen h3{
            font-size: 25px;
    position: relative;
    top: 20%;
    text-align: center;
    color: white;
    }

    .fifthscreen h4{
        color: white;
        text-align: center;
    }
    .fifthscreen img{
        width: 100%;
        height: 100%;
    }
    .fifthscreen-main{
        height: 100%;
        width: 70%;
        position: relative;
        left: 15%;
        bottom: 101%;
    }
    .fifthscreen-top{
        height: 30%;
        width: 100%;
    }
    .fifthscreen-bottom{
        height: 70%;
        width: 100%;
    }
    .fifthscreen-bottom h3{
        font-size: 40px;
       width: 55%;
    }
    .fifthscreen-bottom span{
        position: relative;
    /* right: 66px; */
       top: 70px;
       left: 20%;
       color: white;
    }
    .fifthscreen-bottom h4{
        text-align: left;
    }
    .fifthscreen-bottom-left{
        height: 100%;
        width: 60%;
        background: wheat;
    }
    .fifthscreen-bottom-right{
        height: 100%;
        width: 40%;
        background: magenta;
    }
    .fifthcreen-bottom-left{
        height: 100%;
        width: 60%;
        background: wheat;
        float: left;
    }

    .fifthcreen-bommoom-right{
        height: 100%;
        width: 40%;
        float: left;
    }

    /*第五屏*/
    .a-main{
        height: 170%;
        width: 100%;
    }
    .a-content{
        height: 95%;
        width: 70%;
        position: relative;
        left: 15%;
        border: 2px solid white;
        box-sizing: border-box;
        border-bottom-color: black;
    }
    .a-content-one{
        height: 30%;
        width: 100%;
        margin-top: 2%;
    }
    .a-content-one-left{
        width: 40%;  
        height: 100%;
        float: left;
    }
    .a-content-one-left h3{
        font-size: 40px;
        position: relative;
        top: 20%;
        left: 20%;
    }

    .a-content-one-left span{
        position: relative;
        left: 20%;
        top: 85px;
    }
    .a-content-one-right{
        width: 60%;
        height: 100%;
        float: left;
    }
    .a-content-one-right img{
        height: 100%;
        width: 100%;
    }
    .a-content-two{
        height: 30%;
        width: 100%;
        margin-top: 2%;
    }

    .a-content-two-left{
        width: 60%;
        height: 100%;
        float: left;
    }
    .a-content-two-left img{
        width: 100%;
        height: 100%;
    }

    .a-content-two-right{
        width: 40%;
        height: 100%;
        float: left;
    }
    .a-content-two-right h3{
        font-size: 40px;
        position: relative;
        top: 20%;
        left: 20%;
    }

    .a-content-two-right span{
        position: relative;
        left: 20%;
        top: 85px;
    }
    
    .a-content-three{
        height: 30%;
        width: 100%;
        margin-top: 2%;
    }
    .a-content-three-left{
        width: 40%;
        height: 100%;
        float: left;
    }
    .a-content-three-right img{
        height: 100%;
        width: 100%;
    }
    .a-content-three-left h3{
        font-size: 40px;
        position: relative;
        top: 20%;
        left: 20%;
    }

    .a-content-three-left span{
        position: relative;
        left: 20%;
        top: 85px;
    }
    .a-content-three-right{
        width: 60%;
        height: 100%;
        float: left;
    }
    .a-content-four a{
        color: white;
    }
    .a-content-four span{
        position: relative;
        left: 41%;
        top: 45px;
        border: 1px solid red;
        padding: 5px;
        padding-left: 6%;
        padding-right: 6%;
        background: red;
        color: white;
        cursor: pointer;
    }


    /*第六屏*/
    .b-main{
        height: 60%;
        width: 100%;
        background: #666;

    }
    .b-content{
        height: 100%;
        width: 70%;
        position: relative;
        left: 15%;
        text-align: center;
    }
    .b-content-top{
        height: 20%;
        width: 100%;
    }
    .b-content-top span{
        position: relative;
        top: 35%;
        color: white;
        font-size: 20px;
    }
    .b-content-in{
        height: 34%;
        width: 100%;
    }
    .b-content-in-one{
        height: 100%;
        width: 22%;
        float: left;
    }
    .b-content-in-two{
        height: 100%;
        width: 22%;
        float: left;
        margin-left: 4%;
    }
     .b-content-in-three{
        height: 100%;
        width: 22%;
        
        float: left;
        margin-left: 4%;
    }
     .b-content-in-four{
        height: 100%;
        width: 22%;
        float: left;
        margin-left: 4%;
    }
    .b-content-bottom{
        height: 34%;
        width: 100%;
      
        margin-top: 2%;
    }
    .b-content-bottom-five{
        height: 100%;
        width: 22%;
      
        float: left;
    }
    .b-content-bottom-six{
        height: 100%;
        width: 22%;
        float: left;
        margin-left: 4%;
    }
     .b-content-bottom-seven{
        height: 100%;
        width: 22%;
      
        float: left;
        margin-left: 4%;
    }
     .b-content-bottom-eight{
        height: 100%;
        width: 22%;
        float: left;
        margin-left: 4%;
    }
    .b-content img{
        height: 100%;
        width: 100%;
    }
    /*第七屏*/
    .g-main{
        height: 90%;
        width: 100%;
        background: rgb(233,64,67);
        overflow: hidden;
    }
    .g-content{
        height: 100%;
        margin: 0 15%;
    }
    .g-content-left{
        height: 15%;
        width: 100%;
        text-align: center;
    }
    .g-content-left span{
        font-size: 20px;
        color: white;
        position: relative;
        top: 36%;
    }
    .g-content-right{
        height: 75%;
        width: 100%;
    }
    .g-content-right img{
        width: 85%;
        height: 100%;
    }
    .g-float{
        height: 30%;
        width: 30%;
        position: absolute;
        right:20%;
        bottom: 20%;
    }

    .g-float{
        height: 50%;
        width: 25%;
        float:right;
        position: relative;
        bottom: 77%;
        right: 15%;
    }
    .g-float-left{
        height: 100%;
        width: 85%;
        text-align: center;
        background: white;
        float: left;
    }
    .g-float-left-top{
        height: 20%;
        margin: 0 8%;
        font-size: 18px;
    }
    .g-float-left-top a{
        position: relative;
        top: 35%;
    }

    .g-float-left-in{
        margin: 0 8%;
        font-size: 14px;
        text-align: left;
        color: rgb(93,93,93);
    }
    .g-float-left a{
        color: #272625;
    }
    .g-float-left button{
        font-size: 16px;
        padding: 1% 20%;
        background: #272625;
        border: 1px solid white;
        box-sizing: border-box;
    }
    .g-float-left button a{
        color: white;
    }
    .g-float-left button:hover{
        background-color: rgb(233,64,67);
        cursor: pointer;
    }
    .g-float-right{
        float: left;
        height: 71%;
        width: 13%;
        margin: 15% 0 15% 2%;
    }

    .g-float-right-top{
        height: 49%;
        color: white;
    }
    .g-float-right-top span{
        position: relative;
        top: 39%;
        left: 6%;
        border: 1px solid #e94043;
        padding: 100% 25%;
        box-sizing: border-box;
        background: #272625;
    }

    .g-float-right-top span:hover{
        background-color:white;
        color:#272625;
        cursor: pointer;
    }
   
    .g-float-right-bottom{
        height: 49%;
        color: white;
    }
    .g-float-right-bottom span{
        position: relative;
        top: 39%;
        left: 6%;
        border: 1px solid #e94043;
        padding: 100% 25%;
        box-sizing: border-box;
        background: #272625;
    }
    .g-float-right-bottom span:hover{
        background-color: white;
        color: #272625;
        cursor: pointer;
    }


   
    




    /*底部*/
    .footer{
        height: 100px;
        width: 100%;
        background: #272727;
        overflow: hidden;
    }
    .one{
        height: 85px;
        width: 60%;
        position: relative;
        left: 20%;
        top: 10px;
        border: 1px solid #272727;
        border-top-color: white;
        box-sizing: border-box;
    }
    .two{
        float: left;
        width: 85%;
        height: 89px;
    }
    .two a{
        position: relative;
        bottom: 30px;
        color: white;
        font-size: 12px;
        line-height: 30px;
    }
    .two img{
        position: relative;
        top: 14px;
    }
    .three{
        float: left;
        width: 13%;
        height: 100%;
        position: relative;
        left: 3%;
    }
    .three a{
        position: relative;
        top: 12px;
        font-size: 12px;
        color: white;
    }
    .three img{
        position: relative;
        top: 15px;
    }