
    /*第二屏*/
    .b-main{
        height: 160%;
        width: 100%;
    

    }
    h3{
        position: relative;
        top: 195px;
        color: white;
        background: #a02328;
        padding: 10px;
        padding-right: 34px;
        opacity: 0.9;
    }
    h4{
        position: relative;
        top: 18px;

    }

    .b-content span{
        color: white;
         height: 2%;
         width: 10%;
         font-size: 14px;
         background: #99282b;
         padding: 14px;
         padding-left: 10%;
         padding-right: 10%;
         position:relative;
         top: -8px;
    }
    .b-content span:hover{
        background-color: black;
        cursor: pointer;
    }
    .b-content{
        height: 100%;
        width: 60%;
        position: relative;
        left: 20%;
      
        font-size: 12px;
    }
    .b-content img{
        height: 70%;
        width: 100%;
    }
    .b-content-one{
        height: 25%;
        width: 100%;
        
        margin-top: -2%;
    }
    .b-content-one-a{
        height: 100%;
        width: 32%;
        
        float: left;

    }
    .b-content-one-b{
        height: 100%;
        width: 32%;
        margin-left: 2%;
        
         float: left;
    }
    .b-content-one-c{
        height: 100%;
        width: 32%;
        margin-left: 2%;
         float: left;
    }
    .b-content-two{
        height: 25%;
        width: 100%;
        margin-top: 4%;

    }
    .b-content-two-a{
        height: 100%;
        width: 32%;
      
        float: left;

    }
    .b-content-two-b{
        height: 100%;
        width: 32%;
        margin-left: 2%;
       
         float: left;
    }
    .b-content-two-c{
        height: 100%;
        width: 32%;
        margin-left: 2%;
         float: left;
    }
    .b-content-three{
        height: 25%;
        width: 100%;
        margin-top: 5%;
    }
    .b-content-three-a{
        height: 100%;
        width: 32%;
      
        float: left;

    }
    .b-content-three-b{
        height: 100%;
        width: 32%;
        margin-left: 2%;
        
         float: left;
    }
    .b-content-three-c{
        height: 100%;
        width: 32%;
        margin-left: 2%;
         float: left;
    }
    .b-bottom{
        float: right;
        position: relative;
        top: 100px;
        right: 8%;
        width: 33%;
    }
    .b-bottom a{
        color: #666666;
        font-size: 16px;
        margin-left: 6%;   
    }
    .b-bottom a:hover{
        color: red;
        cursor:pointer;

    }
    
    /*底部*/
   