* {
        margin: 0;
        padding: 0;
        text-decoration: none;
        
    }
    html,body,form{
        height: 100%;
        width: 100%;
        margin:0;
        padding: 0;
        min-width: 1055px;
        
        
    }
    /*头部*/
    .head{
        height: 100px;
        width: 100%;
        background: #272727;
    }
    .head a{
        color: white;
       font-size: 14px;
       border: 1px solid #272727;
       padding-top: 35px;
       padding-bottom: 35px;
       position: relative;
       top: -5px;
       margin-left: 1%;
       margin-right: 1%;
       left: 4%;
    }
    .head a:hover{
        color: red;
        background-color: black;
    }
    
    .left img{
        position: relative;
        top:20px;
        left: 3%;
    }
    .left span{
        float: right;
        position: relative;
        left: -7%;
        top: 40px;
        color: white;
        border: 1px solid white;
        padding-left: 2%;
        padding-right: 2%;
        font-size: 14px;
        margin-right: 2%;
    }
    .head span:hover{
        color: red;
        border:1px solid red;
        cursor: pointer;    
    }
    /*第一屏*/
    .a-main{
        height: 85%;
        width: 100%;
        color: white;
       
    }
    .a-main img{
        width: 100%;
        height: 100%;
    }
    .a-top{
        height: 80%;
        width: 80%;
        position: relative;
        left: 10%;
        top: -100%;
        text-align: center;
       
    }
    h1{
        font-size: 140px;
        margin-top: 90px;
    }
    h2{
        font-size: 20px;
        margin-top: 15px;
    }
    .a-top span{
        border: 1px solid;
        font-size: 38px;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        top: 70px;
    }
    /*第二屏*/
    .b-main{
        height: 160%;
        width: 100%;
    

    }
    h3{
        position: relative;
        top: 195px;
        color: white;
        background: #a02328;
        padding: 10px;
        padding-right: 34px;
        opacity: 0.9;
    }
    h4{
        position: relative;
        top: 18px;

    }

    .b-content span{
        color: white;
         height: 2%;
         width: 10%;
         font-size: 14px;
         background: #99282b;
         padding: 14px;
         padding-left: 10%;
         padding-right: 10%;
         position:relative;
         top: -8px;
    }
    .b-content span:hover{
        background-color: black;
        cursor: pointer;
    }
    .b-content{
        height: 100%;
        width: 60%;
        position: relative;
        left: 20%;
      
        font-size: 12px;
    }
    .b-content img{
        height: 70%;
        width: 100%;
    }
    .b-content-one{
        height: 25%;
        width: 100%;
        
        margin-top: -2%;
    }
    .b-content-one-a{
        height: 100%;
        width: 32%;
        
        float: left;

    }
    .b-content-one-b{
        height: 100%;
        width: 32%;
        margin-left: 2%;
        
         float: left;
    }
    .b-content-one-c{
        height: 100%;
        width: 32%;
        margin-left: 2%;
         float: left;
    }
    .b-content-two{
        height: 25%;
        width: 100%;
        margin-top: 4%;

    }
    .b-content-two-a{
        height: 100%;
        width: 32%;
      
        float: left;

    }
    .b-content-two-b{
        height: 100%;
        width: 32%;
        margin-left: 2%;
       
         float: left;
    }
    .b-content-two-c{
        height: 100%;
        width: 32%;
        margin-left: 2%;
         float: left;
    }
    .b-content-three{
        height: 25%;
        width: 100%;
        margin-top: 5%;
    }
    .b-content-three-a{
        height: 100%;
        width: 32%;
      
        float: left;

    }
    .b-content-three-b{
        height: 100%;
        width: 32%;
        margin-left: 2%;
        
         float: left;
    }
    .b-content-three-c{
        height: 100%;
        width: 32%;
        margin-left: 2%;
         float: left;
    }
    .b-bottom{
        float: right;
        position: relative;
        top: 100px;
        right: 8%;
        width: 33%;
    }
    .b-bottom a{
        color: #666666;
        font-size: 16px;
        margin-left: 6%;   
    }
    .b-bottom a:hover{
        color: red;
        cursor:pointer;

    }
    
    /*底部*/
    .footer{
        height: 100px;
        width: 100%;
        background: #272727;
        overflow: hidden;
        
    }
    .one{
        height: 85px;
        width: 60%;
        position: relative;
        left: 20%;
        top: 10px;
        border: 1px solid #272727;
        border-top-color: white;
        box-sizing: border-box;
    }
    .two{
        float: left;
        width: 85%;
        height: 89px;
    }
    .two a{
        position: relative;
        bottom: 30px;
        color: white;
        font-size: 12px;
        line-height: 30px;
        text-decoration: none;
    }
    .two img{
        position: relative;
        top: 14px;
    }
    .three{
        float: left;
        width: 13%;
        height: 100%;
        position: relative;
        left: 3%;
    }
    .three a{
        position: relative;
        top: 12px;
        font-size: 12px;
        color: white;
    }
    .three img{
        position: relative;
        top: 15px;
    }
