
    /*第一屏*/
    .a-main{
        height: 80%;
        width: 100%;
        color: white;
       
    }
    .a-main img{
        width: 100%;
        height: 100%;
    }
    .a-top{
        height: 80%;
        width: 50%;
        position: relative;
        left: 25%;
        top: -100%;
        text-align: center;
       
    }
    h1{
        font-size: 65px;
        margin-top: 90px;
    }
    h2{
        font-size: 12px;
        margin-top: 15px;
    }
    .a-top span{
        border: 1px solid;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        top: 100px;
    }

    /*第二屏*/
    .b-main{
        height: 75%;
        width: 100%;

    }
    .c-main{
        height: 75%;
        width: 100%;
        background: rgb(233,64,67);
    }
    .d-main{
        height: 75%;
        width: 100%;
    }
    
    .b-content{
        height: 80%;
        width: 80%;
        position: relative;
        top: 10%;
        left: 10%;
        
    }
    .c-content{
        height: 80%;
        width: 80%;
        position: relative;
        top: 10%;
        left: 10%;
       
    }
    .c-content h3{
        color: white;
    }

    .b-content img{
        width: 100%;
        height: 100%;

    }
    .c-content img{
        width: 100%;
        height: 100%;

    }
    .d-content img{
        width: 100%;
        height: 100%;

    }
    h3{
         font-size: 12px;
         color: #666;
    }
    .b-content-left{
        height: 80%;
        width: 40%;
        position: relative;
        top: 10%;
        float: left;
        background: white;

    }
    .b-content-right{
        height: 80%;
        width: 55%;
        position: relative;
        top: 10%;
        float: left;
        margin-left: 5%;
    }
    .c-content-left{
        height: 80%;
        width: 55%;
        position: relative;
        top: 10%;
        float: left;
        margin-right: 5%;
    }
    .c-content-right{
        height: 80%;
        width: 40%;
        position: relative;
        top: 10%;
        float: left;
        background: white;
    }
    .d-main{
        height: 75%;
        width: 100;

    }
    .d-content{
        height: 80%;
        width: 80%;
        position: relative;
        top: 10%;
        left: 10%;
    }
    .d-content-left{
        height: 80%;
        width: 40%;
        position: relative;
        top: 10%;
        float: left;
        background: white;

    }
    .d-content-right{
        height: 80%;
        width: 55%;
        position: relative;
        top: 10%;
        float: left;
        margin-left: 5%;
    }





